---
layout: newhome
author_profile: false
sidebar: false
---

<header>
  <div class="container">
    <div class="column">
      <div>
        <p class="editable">Hi, my name is </p>
        <h1 class="editable">Hee Won Yang; </h1>
        <p class="editable">
          I'm a <b>Software Engineer</b> and <b>Data Scientist</b> at
          <a href="https://www.navercorp.com/en">NAVER Corp.</a>
          I work in the
          <a href="https://naver-career.gitbook.io/kr/service/apollo">Apollo Data Dev</a>
          analyzing UGC (User Generated Contents) data and improving the UGC services, such as
          <a href="https://section.blog.naver.com/BlogHome.naver?directoryNo=0&currentPage=1&groupId=0">NAVER Blog</a>
          <a>, </a>
          <a href="https://kin.naver.com">NAVER Q&A Platform</a>
          , and
          <a href="https://in.naver.com/discover">NAVER Influencer Search</a>
          .
          <br>
          Before NAVER, I was an undergraduate student in
          <a href="https://ee.kaist.ac.kr">Electrical Engineering</a> and
          <a href="https://cs.kaist.ac.kr">Computer Science</a>
           at <a href="https://www.kaist.ac.kr/en/">KAIST</a>
          . And I spent six months as an exchange student at
          <a href="https://www.tum.de/en/">TUM</a>
          <a href="https://www.ei.tum.de/en/ei/welcome/">EI department</a>
          .
          <br>
        </p>
      </div>
    </div>
    <div class="column">
      <img src="{{ site.baseurl }}/assets/images/heewon1.png" alt="banner image">
    </div>
  </div>
</header>

<div class="container">
  <h2 class="editable" style="text-align: center;">😊 A little bit about me</h2>

  <div id="terminal">
    <div id="bar"></div>

    <div id="screen">
      <!-- start of the screen -->
      <p class="command">cat README.md</p>
      <p class="response">👋🏼 Hi! I am an IT all-arounder experienced & interested in Software Engineering all the way to Infrastructure Solutions. I focus on delivering the best solutions with a high level of understanding and domain knowledge, thriving to become a better & more knowledgable person everyday. </p>

      <p class="command">cat MORE.md</p>
      <p class="response">👩🏻‍💻 Academically, I have obtained a First-Class Honours degree in BSc Computer Science from the University of Leeds, where I graduated with an exceptional dissertation grade. </p>

      <p class="command">ls programming skills</p>
      <p class="response array">
        <span class="array-element">Python</span>,
        <span class="array-element">Java</span>,
        <span class="array-element">Flask & Django </span>,
        <span class="array-element">HTML/CSS </span>,
        <span class="array-element">MySQL</span>,
        <span class="array-element">Git</span>
      </p>

      <p class="command">
        <span class="cursor">&nbsp</span>
      </p>
    </div>
  </div>

</div>


<div class="container">
  <h2 class="editable" style="text-align: center;">📨 Connect with me! </h2>
  <ul class="thirds">

    <li class = "narrow">
      <div class="image">{% include icon.html icon="look" %}</div>
      <h3 class="editable">Look Around</h3>
      <p class="editable">Look through my <a href="https://heewonyang25.github.io/projects/">projects</a>, what I'm working on and the issues I'm currently interested in! </p>
    </li>

    <li class = "narrow">
      <div class="image"> <a href="https://github.com/heewonyang25/">{% include icon.html icon="github" %}</a> </div>
      <h3 class="editable">Github</h3>
      <p class="editable">See the details of my projects <a href="https://github.com/heewonyang25/"> here</a>. </p>
    </li>

    <li class = "narrow">
      <div class="image"><a href="mailto:ttok0s7u2n5@gmail.com">{% include icon.html icon="email" %}</a></div>
      <h3 class="editable">Email</h3>
      <p class="editable">If you’d like to chat, <a href="mailto:ttok0s7u2n5@gmail.com"> get in touch </a> with me! </p>
    </li>
  </ul>
</div>


<div class="container">
  <h2 class="editable" style="text-align:center;">✍🏼 Recent Posts </h2>
  <div class="posts">
    {% for post in paginator.posts limit:4 %}
    {% include recent-posts.html type="grid" %}
    {% endfor %}
  </div>
</div>



<div class="container">
  <blockquote>
    <p class="quote editable"> 저는 항상 발전하고 성장하는 개발자가 되어, <br> 타인에게 도움 및 조언을 줄 수 있는 역량을 가진 사람이 되고 싶습니다. <br> 시작한 일에 대해서는 끈기있게 결과를 도출하고, 지난 아쉬웠던 점들은 다시 공부하여 제 것으로 만들려고 노력하는 마음가짐을 갖고 있습니다. </p>
    <div class="attribute">
      <p class="meta">
        <span class="author editable"><strong> 💡 나의 목표</strong></span>
      </p>
    </div>
  </blockquote>
</div>